@if (cartItems().length > 0) {
  <ul class="cart-items">
    @for (item of cartItems(); track item.productGuid ?? $index) {
      <li class="cart-items__row">
        <div class="cart-items__thumb">
          @if (item.image) { <img [src]="item.image" alt=""> }
        </div>
        <div class="cart-items__body">
          <div class="cart-items__top">
            <span class="cart-items__sku">{{ item.sku }}</span>
            @if (item.huid) { <span class="purity-chip">HUID {{ item.huid }}</span> }
          </div>
          <div class="cart-items__meta">
            <span class="purity-chip">{{ item.purityCode }}</span>
            <span class="cart-items__dot">·</span>
            <span class="tabular-nums">Net {{ item.netWeight }}g</span>
          </div>
        </div>
        <button type="button" class="icon-btn icon-btn--danger" (click)="removeItem(item)"
                [attr.aria-label]="'Remove ' + item.sku">
          <ng-icon name="lucideCircleMinus" aria-hidden="true"></ng-icon>
        </button>
      </li>
    }
  </ul>
} @else {
  <div class="cart-items__empty">
    <img src="./assets/img/cart-empty.png" alt="" class="cart-items__empty-img">
    <p class="cart-items__empty-title">Cart is empty</p>
    <p class="cart-items__empty-sub">Head to Sell to build an invoice.</p>
  </div>
}
