<app-page-header [pageName]="'Order Details'"></app-page-header>


<div class="container-fluid ">

    <div class="card">

        <div class="card-body">
            <div class="row">

                <div class="col-4 col-sm-3 customerDetailsSection" *ngIf="customerData">
                    <div class="card-header">
                        <h5 class="text-center">Customer Details</h5>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col">
                            <div class="customerImage mx-auto">
                                <img *ngIf="imageLoaded" [src]="customerData.imagePath" class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row mt-3">
                        <div class="col fw-bold text-center">
                            Name:
                        </div>

                        <div class="col text-start">
                            {{customerData.firstName + ' ' + customerData.lastName}}
                        </div>
                    </div>

                </div>

                <div class="col" *ngIf="orderData">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5>Order Details</h5>
                            </div>
                        
                            <div class="col text-end">
                                <button 
                                    class="btn btn-danger text-end" [useExistingCss]="true"
                                    [ngClass]="{disabled: !orderData.isPaymentDone}" 
                                    printSectionId="print-container" ngxPrint>
                                    <i class="fa-solid fa-print"></i> &nbsp; 
                                    Print Invoice
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container-fluid mt-3 orderDetailsMainContainer">
                    
                        <div class="row">
                    
                            <div class="col">
                                <span class="h6"> <b>Total Bill Amount:</b> &#8377;{{orderData.totalAmountWithGst}}
                                </span>
                            </div>
                    
                            <div class="col">
                                <span class="h6"> <b>Amount Without GST And Discount :</b>
                                    &#8377;{{orderData.totalAmountWithoutGstAndDiscount}}
                                </span>
                            </div>
                    
                        </div>
                    
                        <hr class="my-3">
                    
                    
                        <div class="row">
                    
                            <div class="col">
                                <span class="h6">
                                    <b>Order Date:</b>
                                    {{orderData.orderDate | date}}
                                </span>
                            </div>
                    
                            <div class="col">
                                <span class="h6">
                                    <b>Order Remarks:</b>
                                    {{orderData.remarks ?? 'N/A'}}
                                </span>
                            </div>
                    
                        </div>
                    
                    
                        <hr class="my-3">
                    
                        <div class="row">
                            <div class="col">
                                <span class="h6"> <b>Payment Pending:</b> &#8377; <span class="text-danger">{{
                                        orderData.isPaymentDone == true ? 0 :
                                        (orderData.totalAmountWithGst -
                                        totalPaymentRecieved)}}</span>
                                </span>
                            </div>
                    
                            <div class="col">
                                <span class="h6">
                                    <b>Payment Status:</b>
                                    <span *ngIf="orderData?.isPaymentDone" class="badge text-bg-success ms-2">Done</span>
                                    <span *ngIf="!orderData?.isPaymentDone" class="badge text-bg-danger ms-2">Pending</span>
                                </span>
                            </div>
                        </div>
                    
                    
                        <hr class="my-3">
                    
                        <div class="row">
                            <div class="col">
                                <span class="h6"> <b>Total Discount:</b> &#8377;{{orderData.totalDiscount}}
                                </span>
                            </div>
                    
                            <div class="col">
                                <span class="h6"> <b>Total GST:</b> &#8377;{{orderData.totalGst}}
                                </span>
                            </div>
                    
                            <div class="col">
                                <span class="h6"> <b>Total Labour:</b> &#8377;{{orderData.totalLabour}}
                                </span>
                            </div>
                        </div> 

                    </div>

                </div>

            </div>

            <div class="row mt-3">
                <app-order-products-details [productDetails]="productsData"></app-order-products-details>
            </div>
        </div>

    </div>


    <div class="mt-3">
        <app-order-payments [paymentsData]="paymentsData" [orderGuid]="orderGuid"
            [isPaymentDone]=" orderData && orderData.isPaymentDone"
            (refreshPaymentsData)="getOrderDetails()"
            ></app-order-payments>
    </div>


    <div id="print-container" *ngIf="invoiceData">
        <app-print-invoice id="print-container-component" [InvoiceData]="invoiceData | async" ></app-print-invoice>
    </div>

</div>