<div class="card card-stats mb-4 mb-xl-0">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted mb-0">{{cardTitle}}</h5>
        <span class="h2 font-weight-bold mb-0">{{cardValue}}</span>
      </div>
      <div class="col-auto">
        <div class="icon-div icon-shape">
          @if (cardIconImage) {
            <img class="item-icon" [attr.src]="cardIconImage" loading="lazy" alt="">
          } @else if (cardIcon) {
            <ng-icon [name]="cardIcon" class="item-icon" aria-hidden="true"></ng-icon>
          }
        </div>
      </div>
    </div>
    <p class="mt-3 mb-0 text-muted text-sm">
      <span class="mr-2" [ngClass]="percentageIncrease >= 0 ? 'text-success' : 'text-danger'"><ng-icon
      [name]="percentageIncrease >= 0 ? 'lucideArrowUp' : 'lucideArrowDown'" aria-hidden="true"></ng-icon> {{percentageIncrease || 0}}%</span>
      <span class="text-nowrap"> {{monthsString}}</span>
    </p>
  </div>
</div>
