<div class="card my-3">
    <div class="card-title mb-1 p-3 d-flex ">
        <h6>Total Sales And Profit For Last 8 Months</h6>
    </div>
    <div class="card-body">
        <div class="chart-container" style="position: relative;">
                <app-skeleton-loader *ngIf="_monthlySalesAndLabour.length == 0"
                    [count]="1"
                    [shapeOfLoader]="'circle'" 
                    [theme]="{height: '18rem', width: '100%', 'border-radius': '0'}" />
                <canvas id="barChart" [hidden]="_monthlySalesAndLabour.length == 0" style="height:18.7rem; ">{{ chart }}</canvas>

        </div>
    </div>
</div>