.company-logo-box {
  position: relative;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background: linear-gradient(135deg, #7C8CF8 0%, #9BA6FA 50%, #B8C4FF 100%);
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 500px;
  height: 400px;
}
