<div class="row mt-3">
  <form>
    <div class="mb-3 row">
      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label fw-bold text-info">Search
      Customers:</label>
      <div class="col-xs-3 col-sm-auto">
        <input id="table-filtering-search" placeholder="Search using name,phone,city etc.." class="form-control" type="text"
          [formControl]="filter" />
      </div>
    </div>
  </form>
</div>

<div class="table-responsive">
  <form class="form" [formGroup]="selectCustomer">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Customer Photo</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Gender</th>
          <th scope="col">City</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>

      <tbody>
        @for (customer of dataToBeShown; track customer.customerGuid ?? customer.id ?? $index) {
          <tr>
            <td>
              <input class="form-check-input mt-0" type="radio" formControlName="selectedCustomerId"
                [value]="customer.id">
            </td>
            <td class="text-center">
              <img class="img-thumbnail" [src]="customer.image" height="90" width="90">
            </td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.gender}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.phoneNumber}}</td>
          </tr>
        }
      </tbody>
    </table>
  </form>
</div>

<app-simple-paginator
  [length]="customersData.length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[2, 5, 7]"
  (page)="onPageChange($event)">
</app-simple-paginator>
