<nav class="rail" aria-label="Primary navigation">
  <a class="rail__brand" routerLink="/dashboard" aria-label="Radiance home">
    <span class="rail__brand-mark">R</span>
  </a>

  <ul class="rail__list">
    @for (item of primary; track item.route) {
      <li>
        <a class="rail__item"
           [routerLink]="[item.route]"
           routerLinkActive="is-active"
           [title]="item.label"
           [attr.aria-label]="item.label">
          <span class="rail__stripe" aria-hidden="true"></span>
          <ng-icon [name]="item.icon" size="20" aria-hidden="true"></ng-icon>
        </a>
      </li>
    }
  </ul>

  <ul class="rail__list rail__list--bottom">
    <li>
      <a class="rail__item"
         [routerLink]="[settings.route]"
         routerLinkActive="is-active"
         [title]="settings.label"
         [attr.aria-label]="settings.label">
        <span class="rail__stripe" aria-hidden="true"></span>
        <ng-icon [name]="settings.icon" size="20" aria-hidden="true"></ng-icon>
      </a>
    </li>
    <li>
      <button type="button" class="rail__item" (click)="logout()" title="Sign out" aria-label="Sign out">
        <ng-icon name="lucideLogOut" size="20" aria-hidden="true"></ng-icon>
      </button>
    </li>
  </ul>
</nav>
