<div class="row text-end ">

  <div class="col">

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
      <i class="fa-solid fa-plus"></i> Add A Product </button>
    </div>
  </div>



  <div class="modal fade" id="addCategoryModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addProductForm" class="addProductForms" (ngSubmit)="submitForm()" novalidate>

            <div class="row mb-3 align-items-center">
              <div class="col-4"><label>Product Photo:</label></div>
              <div class="col">
                <div class="input-group justify-content-center">
                  <app-image-upload [activeColor]="'orangered'" [baseColor]="'lightgray'"></app-image-upload>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <label class="small">SKU <span class="mandatory">*</span></label>
                <input class="form-control" formControlName="sku" placeholder="e.g. G-NEC-001">
              </div>
              <div class="col-6">
                <label class="small">HUID (6-char, optional)</label>
                <input class="form-control" formControlName="huid" maxlength="6" placeholder="e.g. AB1234">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-4">
                <label class="small">Purity <span class="mandatory">*</span></label>
                <select class="form-select" formControlName="purityCode">
                  <option value="">Select purity</option>
                  @for (p of purities; track p.code) {
                    <option [ngValue]="p.code">{{p.label}} {{p.metalType | titlecase}} &mdash; {{p.fineness}}</option>
                  }
                </select>
              </div>
              <div class="col-4">
                <label class="small">HSN Code</label>
                <input class="form-control" formControlName="hsnCode" placeholder="7113">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-4">
                <label class="small">Master Category <span class="mandatory">*</span></label>
                <select class="form-select" formControlName="masterCategoryId">
                  <option value="">Select</option>
                  @for (m of allCategoriesData?.masterCategories; track m) {
                    <option [ngValue]="m.id">{{m.masterCategoryName}}</option>
                  }
                </select>
              </div>
              <div class="col-4">
                <label class="small">Sub Category <span class="mandatory">*</span></label>
                <select class="form-select" formControlName="subCategoryId">
                  <option value="">Select</option>
                  @for (s of allCategoriesData?.subCategories; track s) {
                    <option [ngValue]="s.id">{{s.subCategoryName}}</option>
                  }
                </select>
              </div>
              <div class="col-4">
                <label class="small">Product Category <span class="mandatory">*</span></label>
                <select class="form-select" formControlName="productCategoryId">
                  <option value="">Select</option>
                  @for (pc of allCategoriesData?.productCategories; track pc) {
                    <option [ngValue]="pc.id">{{pc.productCategoryName}}</option>
                  }
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-4">
                <label class="small">Gross Wt (g) <span class="mandatory">*</span></label>
                <input class="form-control" type="number" step="0.001" min="0" formControlName="grossWeight">
              </div>
              <div class="col-4">
                <label class="small">Net Wt (g) <span class="mandatory">*</span></label>
                <input class="form-control" type="number" step="0.001" min="0" formControlName="netWeight">
              </div>
              <div class="col-4">
                <label class="small">Stone Wt (g)</label>
                <input class="form-control" type="number" step="0.001" min="0" formControlName="stoneWeight">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-4">
                <label class="small">Making Mode <span class="mandatory">*</span></label>
                <select class="form-select" formControlName="makingMode">
                  <option value="flat">Flat &#8377;</option>
                  <option value="perGram">Per gram &#8377;/g</option>
                  <option value="percent">Percent of metal %</option>
                </select>
              </div>
              <div class="col-4">
                <label class="small">Making Value <span class="mandatory">*</span></label>
                <input class="form-control" type="number" step="0.01" min="0" formControlName="makingValue">
              </div>
              <div class="col-4">
                <label class="small">Wastage %</label>
                <input class="form-control" type="number" step="0.01" min="0" formControlName="wastagePercent">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-4">
                <label class="small">Stone Charges &#8377;</label>
                <input class="form-control" type="number" step="0.01" min="0" formControlName="stoneCharges">
              </div>
              <div class="col-4">
                <label class="small">Cost Price &#8377;</label>
                <input class="form-control" type="number" step="0.01" min="0" formControlName="costPrice">
              </div>
              <div class="col-4">
                <label class="small">Tag Price &#8377;</label>
                <input class="form-control" type="number" step="0.01" min="0" formControlName="tagPrice">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label class="small">Description</label>
                <textarea class="form-control" formControlName="productDescription" rows="2"></textarea>
              </div>
            </div>

            @if (addProductResponse.status !== 0 || addProductResponse.message !== '') {
              <hr>
              <div class="row">
                <div class="col text-center">
                  <span [ngClass]="{'text-danger': addProductResponse.status !== 200, 'text-success': addProductResponse.status === 200 }"
                        style="font-weight: bold;">{{addProductResponse.message}}</span>
                </div>
              </div>
            }
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="clearForm()" data-bs-dismiss="modal">Close</button>
              <button type="submit" [disabled]="!addProductForm.valid" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
