.card {
  .card-icon {
    i {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 12px;
      font-size: var(--fs-xl);

      &.icon-primary {
        color: $primary;
        background: $primary-lighter;
      }

      &.icon-secondary {
        color: $secondary;
        background: $secondary-light;
      }

      &.icon-accent {
        color: $accent;
        background: $accent-light;
      }

      &.icon-warning {
        color: $warning;
        background: $warning-light;
      }

      &.icon-success {
        color: $success;
        background: $success-light;
      }
    }
  }

  .legend {
    span:first-child {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}
