<app-page-header [pageName]="'Orders'"></app-page-header>

<div class="container-xl">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2 mx-1">
                        <div class="col">
                            <a routerLink="prepare-order">
                                <button class="btn btn-success float-end">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span> Prepare an order</span>
                                </button>
                            </a>
                        </div>
                    </div>
                           
                    <div class="row mt-3">
                        <app-data-table [COLUMNS_SCHEMA]="displayNameForColumns" [tableColumns]="tableColumns"
                            (viewDetails)="goToViewDetails($event)" (deleteItem)="openDeletePopUpForItem($event)"
                            [tableData]="ordersData" (refreshDataSource)="getAllOrders()"
                            [entityText]="'Orders'"
                            [sortByColumn]="'orderDate'"
                            [totalRecords]="totalRecords"
                            (searchQuery)="handleSearchQuery($event)"
                            (pageChangeEvent)="handlePageChange($event)"
                            ></app-data-table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>