<div class="dropdown profile-dropdown-container" [class.show]="isDropdownOpen">
  <a id="profileBtn" class="dropdown-toggle nav-link arrow-none nav-user" role="button"
    aria-haspopup="true" [attr.aria-expanded]="isDropdownOpen" (click)="toggleDropdown($event)">
    <img [src]="userImage || './assets/img/user.jpg'" alt="user" class="rounded-circle">
  </a>
  <div class="dropdown-menu dropdown-menu-right" [class.show]="isDropdownOpen">
    <div class="dropdown-header">
      <h6 class="mx-1">Welcome!</h6>
    </div>
    <a class="dropdown-item" (click)="goToProfilePage()"><i class="fa-solid fa-user"></i> Profile</a>
    <a class="dropdown-item" (click)="goToSettingsPage()"><i class="fa-solid fa-gear"></i> Settings</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-danger" (click)="logout()"><i class="fa-solid fa-power-off text-danger"></i> Logout</a>
  </div>
</div>
