<div class="table-responsive">
  <table class="table table-bordered" [ngClass]="{'table-striped': !_isLoading, 'table-hover': !_isLoading}">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Master Category Name</th>
        <th scope="col">Master Category Description</th>
        <th scope="col">Created On</th>
      </tr>
    </thead>

    <tbody>
      @if (_isLoading) {
        @for (row of [0, 1, 2, 3, 4]; track row) {
          <tr class="text-center">
            @for (cell of [0, 1, 2, 3]; track cell) {
              <td>
                <app-skeleton-loader [count]="1" [shapeOfLoader]="'circle'"
                  [theme]="{height: '20px', width: '80%', 'border-radius': '0'}" />
              </td>
            }
          </tr>
        }
      }

      @for (category of dataToBeShown; track category) {
        <tr>
          <th scope="row">{{category.id}}</th>
          <td>{{category.masterCategoryName}}</td>
          <td>{{category.masterCategoryDescription}}</td>
          <td>{{category.createdAt | date}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<mat-paginator
  [length]="lengthOfData"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[2, 4, 6]"
  (page)="onPageChange($event)"
  showFirstLastButtons>
</mat-paginator>
