<div class="lines-block">
  <div class="lines-block__title">Line items</div>

  <div class="lines-table-wrap">
    <table class="lines-table">
      <thead>
        <tr>
          <th>#</th>
          <th class="col-desc">Description</th>
          <th>Purity</th>
          <th>HSN</th>
          <th class="right">Net wt (g)</th>
          <th class="right">Rate/g</th>
          <th class="right">Metal</th>
          <th class="right">Making</th>
          <th class="right">Discount</th>
          <th class="right">Taxable</th>
          <th class="right col-tax">Tax</th>
          <th class="right">Line total</th>
        </tr>
      </thead>
      <tbody>
        @if (_isLoading) {
          @for (row of [0,1,2]; track row) {
            <tr class="is-skeleton"><td colspan="12"><div class="skeleton-bar"></div></td></tr>
          }
        } @else if (_productDetails.length === 0) {
          <tr class="empty-row"><td colspan="12">No line items on this invoice.</td></tr>
        } @else {
          @for (product of _productDetails; track product; let i = $index) {
            <tr>
              <td class="col-num">{{ i + 1 }}</td>
              <td class="col-desc">
                <div class="col-desc__top">
                  <span class="col-desc__sku">{{ product.sku }}</span>
                  @if (product.huid) {
                    <span class="purity-chip">HUID {{ product.huid }}</span>
                  }
                </div>
                <div class="col-desc__name">{{ description(product) }}</div>
              </td>
              <td>
                <span class="purity-chip">{{ product.purityLabel ?? product.purityCode }}</span>
              </td>
              <td class="col-muted tabular-nums">{{ product.hsnCode }}</td>
              <td class="right tabular-nums">{{ wt(product.netWeight) }}</td>
              <td class="right tabular-nums">{{ money(product.ratePerGram) }}</td>
              <td class="right tabular-nums">{{ money(product.metalValue) }}</td>
              <td class="right tabular-nums">{{ money(product.makingCharge) }}</td>
              <td class="right tabular-nums">{{ money(product.discountAmount) }}</td>
              <td class="right tabular-nums">{{ money(product.taxableAmount) }}</td>
              <td class="right col-tax col-muted tabular-nums">{{ taxLabel(product) }}</td>
              <td class="right tabular-nums col-total">{{ money(product.lineTotal) }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
