<app-page-header [pageName]="'Customers'"></app-page-header>

<div class="row mb-2 mx-1">
    <div class="col">
        <button class="btn btn-success float-end" (click)="openAddCustomerDialog()">
            <i class="fa-solid fa-plus"></i>
            <span>Add Customer</span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-data-table [COLUMNS_SCHEMA]="displayNameForColumns" [tableColumns]="tableColumns"
            [tableData]="customerData"
            [totalRecords]="totalRecords"
            (viewDetails)="goToViewDetails($event)" (deleteItem)="openDeletePopUpForItem($event)"
            (refreshDataSource)="getAllCustomersData()" [entityText]="'Customers'"
            [sortByColumn]="'customerName'"
            (searchQuery)="handleSearchQuery($event)"
            (pageChangeEvent)="handlePageChange($event)"
            [isLoading]="isLoading"
            >
        </app-data-table>
    </div>
</div>
