.btn-success {
  background-color: #32CD32;
  border-color: #32CD32;
  color: white;
}

.btn-success {
    i {
        font-weight: bold;
    }
    span{
        margin-left: 2px;
        font-weight: 500;
    }
}